.myProject{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
}

.myProject_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.myProject_header > p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 10px;
}

.myProject_header > h1 {
    
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;

}

.myProject_header-btn{
    width: 20%;
}

.myProject_header-btn > button{
    height: 60px;
    padding: 13.333333969116211px 21.33333396911621px 13.333333969116211px 21.33333396911621px;
    border-radius: 10.666666984558105px;
    gap: 16px;
    text-align: center;
    background-color: #E62872;
    color: #ffffff;
    outline: none;
    border: 0px;
    
}

.myProject_header-title{
    text-align: left;
}

.myProject_header-title > h1 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    
}

.myProject_header-title > p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.myProject_projects{
    margin-top: 60px;
    display: flex;
    gap: 10px;
}